*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    width: 100%;
    padding: 150px;
}
.Number-1{
    background: #ffb703;
}
.Number-2{
    background: #588157;
}
.Number-3{
    background: #0096c7;
}
button{
    width: 100px;
    height: 50px;
}