body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: Courier New;
    background-color: #faedcd;
}

.header{
    background: url(https://sm.pcmag.com/pcmag_au/gallery/t/the-best-f/the-best-free-software-of-2023_3afj.jpg) bottom center no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.nav-item{
    font-size: 1.5rem;
}
h1{
    color: #faedcd;
    font-size: 4rem;
}
