body{
    margin: 0;
    padding: 0;
    background: url('https://img.etimg.com/thumb/msid-81525531,width-650,height-488,imgsize-622277,,resizemode-75/music_thinkstockphotos.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.singers{
    list-style: circle;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    box-shadow: 0 0 0 10px rgba(0,0,0,0.3);
    background: #fff;
    margin: auto;
    width: 400px;
    opacity: 0.7;
}
.singers li {
    border-bottom: 1.5px solid #0077b6;
    padding: 15px;
}
