*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f48c06;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
}

.container{
    border: 3px solid #000;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    max-width: 600px;
    height: 300px;
    padding: 5px;
}
.player__video{
   width: 100%;
}
.play-button{
    background: none;
    border:0;
    line-height: 1;
    color:#fff;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    max-width: 100px;
}
.video-control{
    position: absolute;
    display: flex;
    width: 100%;
    transform: translateY(100%) translateY(-5px);
    transition: all 0.3s;
  }