*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
body{
    background: rgb(103,110,95);
    background: linear-gradient(90deg, rgba(103,110,95,1) 2%, rgba(193,192,167,1) 24%, rgba(163,84,49,1) 50%, rgba(180,181,161,1) 99%);

}
.container{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: 30px;
}
.btn{
    width: 200px;
    height: 100px;
    color: black;
    font-family: American Typewriter, serif;
    font-weight: bold;
}
.btn:hover{
    background-color: #bb3e03;
    height: 110px;
    width: 210px;
}
.deneme{
    background-color: blueviolet;
}